@media (min-device-width: 300px) {
    html {
        -webkit-text-size-adjust : none;
        text-size-adjust         : none;
    }
    #upload_section{
        flex-wrap: wrap;
    }
    .result ,.player,.upload_button{
        width:80%;
        min-height:30px;
        margin-top: 10px;
    }
    #resultContainer{
        flex-wrap: wrap;
        justify-content: center;
    }
   
}
@media (min-device-width:1000px){
    .result, .player,.upload_button{
        width:40%;
        min-height:30px;
    }
    
}
body {
    background-color: #202020;
    font-family: Century Gothic;
    width: 99vw;
}

body * {
    box-sizing: border-box;
    margin: 0px;
    color: rgb(170, 170, 170)
}

body > header {
    text-align: center;
    margin-bottom: 20px;

}
img,audio,video{
    width:99%;
}

body > main {
    display: flex;
    flex-direction: column;
}
body > main > *{
    width: 100%;
}

#upload_section {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.redalert {
    text-align: center;
    font-size: 1em;
    width: 100%;
    padding:20px;
    color: rgb(197, 107, 107);
    font-weight: bold;
}

.upload_button{
    padding: 20px;
    text-align: center;
    background-color: #202020; rgb(73, 183, 219);
    border: 1px solid rgb(170, 170, 170);
    cursor: pointer;
    font-size: 2em;
    color: rgb(170, 170, 170);
    user-select: none;
}
.upload_button:hover{
    transition: 0.1s;
    background-color: #404040;
}
.upload_button:active{
    color: #202020;
    background-color: rgb(102, 193, 223);
    border-color:rgb(170, 170, 170)
}

.component{
    width: 100%;
    border-top: 2px solid rgb(170, 170, 170);
    margin-top: 20px;
    padding: 10px;
    opacity: 0;
    transition: opacity 2s;   
}
#resultContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.processing > header{
    font-size: 1.5em;
}
.processing .filename{
    font-weight: bold;
    color: white;
}

