

body {
    background-color: #202020;
    font-family: Century Gothic;
}

body * {
    box-sizing: border-box;
    margin: 0px;
    color: rgb(170, 170, 170)
}

body > header {
    text-align: center;
    margin-bottom: 20px;

}

body > main {
    display: flex;
    flex-direction: column;
}
body > main > *{
    width: 100%;
}

#upload_section {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.redalert {
    text-align: center;
    font-size: 1em;
    color: rgb(197, 107, 107);
    font-weight: bold;
}

.upload_button{
    width: 40%;
    padding: 20px;
    text-align: center;
    background-color: #202020; rgb(73, 183, 219);
    border: 1px solid rgb(170, 170, 170);
    cursor: pointer;
    font-size: 2em;
    color: rgb(170, 170, 170);
    user-select: none;
}
.upload_button:hover{
    transition: 0.1s;
    background-color: #404040;
}
.upload_button:active{
    color: #202020;
    background-color: rgb(102, 193, 223);
    border-color:rgb(170, 170, 170)
}

.component{
    width: 100%;
    border-top: 2px solid rgb(170, 170, 170);
    margin-top: 20px;
    padding: 10px;
    opacity: 0;
    transition: opacity 2s;
}

.processing > header{
    font-size: 1.5em;
}
.processing .filename{
    font-weight: bold;
    color: white;
}

